
@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@(content: Html)


<nav>
    @content
    <ul>
        <li><a href="/">Home</a> </li>
        <li><a href="/user/list">User</a> </li>
    </ul>
</nav>

